#barraSeleccion{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:20%;
    overflow-x:auto;
    background-color:black;
}
#principal{
    position:absolute;
    left:0;
    top:20%;
    width:100%;
    height:80%;
    overflow-x:auto;
    background-color:gray;

}
#titulo{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:30%;
    overflow:hidden;
}
#coloresElegidos{
    position:absolute;
    left:0;
    top:30%;
    width:100%;
    height:70%;
}
h1 {
    color:white;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    margin:0;
    font-size:2.5em;
}
.cuadrado{
    width:16.6%;
    height:25%;
    float:left;
}
#coloresElegidos .cuadrado{
    width:10%;
    height:25%;
    outline:8px solid black;
}
@media screen and (max-height:750px){
    h1{
        font-size:2em;
    }
}
@media screen and (max-height:500px){
    h1{
        font-size:1.2em;
    }
}